
body {
  background-color: #CCC;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0em 0.25em;
}
/*-----------------------------------------------------*/
/*title and subtitle */
#banner {
  background-color:#CCC;
  width: 100%;
  margin: 0em;
}

#banner h1 {
  color: #333;
  text-shadow: 0.1em 0.1em 0.1em #FFF;
  line-height: 1em;
  margin: 0.1em 0.25em;
}

#banner h4 {
  color: #333;
  line-height: 1em;
  margin: 0.2em 0.5em;
}
/*-----------------------------------------------------*/
/* section for questions and answers */
#container {
  width: 100%;
  height: 14em;
  position: relative;
  border:2px solid #ccc;
  border-radius:1.25em;
  -moz-border-radius:1.25em; /* Firefox 3.6 and earlier */
  background-color: #fff;
  text-align: left;
}

/* formats all inputs within container */
#container input {
  background-color: #CCC;
  color: #333;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em; /* Firefox 3.6 and earlier */
}

/* within container */
#question {
  color: #000;
  height: 3em;
  text-align: center;
  height: 1em;
}

/* formatting for answers within the container */
#answers {
  height: 8em;
  margin: 0.2em 0.5em;
  text-align:left;
}

/* within container */
#nextQuestion {
  height: 2em;
  text-align: right;
  margin: 0.2em 0.5em;
}

/*-----------------------------------------------------*/
/*footer for github project url and other misc. information*/
#footer {
  
}